{% extends 'base.html.twig' %}

{% block title %}Index des saisons{% endblock %}

{% block body %}
    <h1 class="text-center">Index des saisons</h1>

    <table class="table w-75 mx-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Année</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}">voir</a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-lg round ml-5 mb-5">
        <a href="{{ path('season_new') }}"> Créer </a>
    </button>

{% endblock %}
