{% extends 'base.html.twig' %}

{% block title %}Index des séries{% endblock %}

{% block body %}
    <h1 class="text-center">Toutes les séries</h1>
<div class="text-center">
    <button type="button" class="btn btn-lg round m-5">
        <a href="{{ path('program_new') }}"> Créer une série</a>
    </button>
</div>
    <div class="row">
        {% for program in programs %}
            <div class="col-sm-3">
                <div class="card text-center m-5">
                    <h4 class="card-header font-weight-bold "><a
                                href="{{ path('program_show', {'id':program.id}) }}">{{ program.title }}</a>
                    </h4>
                    <img class="align-self-center mt-2 h-25 rounded" src="{{ program.poster }}"
                         alt="{{ program.title }}">
                    <div class="card-body">
                        <p>Catégorie : {{ program.category.name }}</p>
                        <p class="card-text">{{ program.summary }}</p>
                    </div>
                    <div class="badges">
                        <a class="badge badge-pill badge-secondary" href="{{ path('program_show', {'id': program.id}) }}">voir</a>
                        <a class="badge badge-pill badge-secondary" href="{{ path('program_edit', {'id': program.id}) }}">modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>


{% endblock %}
