{% extends 'base.html.twig' %}

{% block title %}Programs by category {% endblock %}

{% block body %}
    <h1>Les séries de type {{ category.name }} : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id }} / {{ program.title }} </h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <button type="button" class="btn btn-lg round ml-5">
        <a href="{{ path('wild_index') }}"> Retour à l'accueil </a>
    </button>
{% endblock %}
