{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div class="card mx-auto mt-5 w-50 h-75">
        <h4 class="m-3 text-center">
            {{ season.description }} de {{ program.title }}
        </h4>

        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center"><h4>Episode {{ episode.number }} : {{ episode.title }}</h4></li>
            <li class="list-group-item"> {{ episode.synopsis }} </li>
        </ul>
    </div>
    {% if app.user %}
        <div class="mx-auto mt-5 w-50 h-75">
            <h3 class="commentTitle"> Laisser un commentaire </h3>

            {{ form_start(form) }}
            <h5 class="mt-4">Commentaire :</h5>
            {{ form_widget(form.comment) }}
            <h5 class="mt-4">Note :</h5>
            {{ form_widget(form.rate) }}
            <div class="text-right">
                <button class="btn round btn-lg mt-3 text-center">{{ button_label|default('Valider') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

    <div class="mx-auto mt-5 w-50 h-75"> {# TODO : mettre le commentaire associé à l'épisode #}
        <h3 class="commentTitle"> Commentaires : </h3>
        {% for comment in comments|sort %}
                <p>Auteur : {{ comment.author.email }}</p>
                <p>Commentaire : {{ comment.comment }}</p>
                <p>
                {% for i in 1..comment.rate  %}
                    <i class="fas fa-star"></i>
                {% endfor %}
                </p>
                <hr>
        {% endfor %}
    </div>


    <div class="d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-lg round m-5">
            <a href="{{ path('show_season', {'id': season.id}) }}">Retour à la saison</a>
        </button>

        <button type="button" class="btn btn-lg round m-5">
            <a href="{{ path('show_program', {'slug':program.title|lower|replace({' ': '-'})}) }}">Retour à la série</a>
        </button>

        <button type="button" class="btn btn-lg round m-5">
            <a href="{{ path('wild_index') }}">Retour à l'accueil</a>
        </button>
    </div>
{% endblock %}
